[submodule "home/pmoves/PMOVES.AI/integrations-workspace/PMOVES-Wealth"]
	path = home/pmoves/PMOVES.AI/integrations-workspace/PMOVES-Wealth
	url = https://github.com/POWERFULMOVES/PMOVES-Wealth.git
[submodule "home/pmoves/PMOVES.AI/integrations-workspace/PMOVES-DoX"]
	path = home/pmoves/PMOVES.AI/integrations-workspace/PMOVES-DoX
	url = https://github.com/POWERFULMOVES/PMOVES-DoX.git
[submodule "integrations/PMOVES-DoX"]
	path = integrations/PMOVES-DoX
	url = https://github.com/POWERFULMOVES/PMOVES-DoX.git
[submodule "integrations/PMOVES-Wealth"]
	path = integrations/PMOVES-Wealth
	url = https://github.com/POWERFULMOVES/PMOVES-Wealth.git
